<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="font-size: 15px;">
    <div class="container-fluid">
        <div class="navigation-info alert alert-warning visible-md visible-lg row">
            <b>Tip:</b> na navigáciu medzi reštauráciami môžete použiť šípky <i>HORE</i>
            a <i>DOLE</i>, <i>ENTER</i> alebo druhé kliknutie na reštauráciu otvorí web vybranej reštaurácie.
        </div>
        <div class="row well" style="margin-bottom: 0px;">
            <div class="col-xs-6">
                <a href="http://en.wikipedia.org/wiki/Copyleft" target="_blank" title="copyleft"
                    style="display: inline; -webkit-transform: scaleX(-1); transform: scaleX(-1);">©</a>
                ALL WRONGS RESERVED
            </div>
            <div class="col-xs-1 col-xs-offset-5">
                <a style="float: right" href="https://github.com/daddy32/at11" target="_blank"
                    class="github"><i class="fa fa-github fa-lg"></i> GitHub</a>
            </div>
            <p>
                Powered by ERNI Community &#149; Biggest thank to Jano &#149; Designed by Diana &#149; Patronka version by daddy32.
            </p>
        </div>
    </div>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        _paq.push(['setTrackerUrl',  'https://api-4399f58e10d74f525040d41754221979.daddy.sandcats.io:4430']);
        _paq.push(['setSiteId', 2]);
        _paq.push(['setApiToken', '099grrfnQgqXjRAQgFK1TqnpPD64L113v3IczMLRC-P']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://ny0cteux3x5hcaewlknq.daddy.sandcats.io:4430/embed.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->
</nav>
