lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*~

pids
logs
results
temp

npm-debug.log
node_modules
/nbproject/private/
.idea/
*.iml
dist
/node_modules/**
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/at11_patronka/v16/.suo
/.roo/roo-code-settings.json
/repomix-output.txt
/fajnejedlo-ocr-debug.txt
/slk.traineddata
/test/samples/Streda __ Restauracia-doma_files/*
/.worktrees/
